html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2e294e;
  font-family: "Josefin Sans", sans-serif;
  color: antiquewhite;
}

header > h1 {
  text-align: center;
}

main {
  padding: 1rem;
}

.random_quote_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  height: 100%;
  border: 1px solid #4c4387;
  border-radius: 20px;
  margin: 1rem 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.random_quote_section__content {
  text-align: center;
  padding: 0rem 0.5rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
  border: 1px solid #4c4387;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: antiquewhite;
  background-color: #2e294e;
}

/* css loader */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
